<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="card">

        <h1 class="text-center"><%= @cocktail.name %></h1>
        <ul class="list-unstyled">
          <% @cocktail.doses.each do |dose| %>
          <li>
            <%= dose.description %> of <%= dose.ingredient.name %>
          </li>
          <% end %>
        </ul>

      </div>
      <hr>

      <h5 class="text-center"><strong>Add a new Dose</strong></h5>
      <%= simple_form_for [@cocktail, @dose] do |f| %>
      <% if @dose.errors.any? %>
        <% @dose.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      <% end %>


      <%= f.input :description, placeholder: "4cl" %>
      <%= f.input :ingredient_id, collection: Ingredient.all, prompt: "Choose an ingredient" %>
      <%= f.button :submit, class: "btn btn-primary btn-block" %>
      <% end %>



      <%= link_to 'Back to cocktails', cocktails_path %>
    </div>
  </div>
</div>

